.logout-icon{
    content: url('./assets/logout.png');
    height: 36px;
    width: 36px;
}
.home-icon{
    content: url('./assets/home.png');
    height: 36px;
    width: 36px;
}
.pencil-icon{
    content: url('./assets/pencil.png');
    height: 36px;
    width: 36px;
}
.user-icon{
    content: url('./assets/user.png');
    height: 36px;
    width: 36px;
}
.save-icon-24px{
    content: url('./assets/save.png');
    height: 24px;
    width: 24px;
}
.pencil-icon-24px{
    content: url('./assets/pencil.png');
    height: 24px;
    width: 24px;
}