

@media screen and (max-width: 600px) {
    .login{
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        place-items: center;
    }
}
@media screen and (min-width: 601px) {
    .login{
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: center;
        place-items: center;
    }
}

  

.grid-layout-login{
    display: grid;
    grid-template-areas:
        'header header header'
        'main main main'
        'footer footer footer';
    grid-template-rows: 50px 1fr 60px;
    grid-template-columns: 150px 1fr;
    }

  
  header { grid-area: header; }
  .menu { grid-area: menu; }
  .main { grid-area: main; }
  footer { grid-area: footer; }