
.flex{
    display: flex;
}

.basis-15{
    flex-basis: 15%;
}
.basis-10{
    flex-basis: 10%;
}
.grow{
    flex-grow: 1;
}
.h-full-c{
    height: calc(100% - 10px);
}
.flex-row{
    flex-direction: row;
}
.word-break{
    word-break: break-word;
}
.flex-col{
    flex-direction: column;
}

.gap-10{
    gap: 10px;
}

.h-60{
    height: 60%;
}
.h-20{
    height: 20%;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

.justifiy-center{
  justify-content: center;
}

.item-center{
  align-items: center;
}

input, textarea{
    box-sizing: border-box;
    resize: none!important;
}

input
{
    text-align: center;
}

input.text-left{
    text-align: left;
}
.text-center
{
    text-align: center;
}

.no-break{
    white-space: nowrap;
}

.line-h-1{
    line-height: 1!important;
}

@media screen and (max-width: 800px) {
    .grid-layout{
        display: grid;
        grid-template-areas:
          'header header header'
          'main main main'
          'footer footer footer';
        grid-template-rows: 50px 1fr 60px;
        grid-template-columns: 150px 1fr;
      }

}
@media screen and (min-width: 801px) {
    .grid-layout{
        display: grid;
        grid-template-areas:
          'header header header'
          'menu main main'
          'footer footer footer';
        grid-template-rows: 50px 1fr 60px;
        grid-template-columns: 250px 1fr;
      }
      .sidenav
    {
        width: 250px!important;
        position: relative;
        height: auto;
    }
    .closebtn{
        display: none!important;
    }
    .openbtn{
        display: none!important;
    }
}
  
  header { grid-area: header; }
  .menu { grid-area: menu; }
  .main { grid-area: main; }
  footer { grid-area: footer; }